.h_img {
position: absolute;
width: 7%;
height: 100%;
}
.hl_img {
position: absolute;
width: 7%;
height: 100%;
float: right;
right: 0px;
top: 0px;;
}
#hm_img{
	position: absolute;
width: 3%;
height: 70%;
top: 12%;
left: 0%;
}
#vid_div{
	overflow: auto;
	position: relative;
	width: 99.5%;
	height: 100%;
	border: 2px solid #ccc;
	margin: 1px;
	background: white;
}
.h_name{
	
	text-align: center;
	font-size: 40px;
}

h4 {
	display: inline-block;
	margin: 0px;
}

body {
	
	margin: 0px;
	width: 100%;
	position: absolute;
	height: 100%;
}

#wrap {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
}

#header {
	text-align: center;
	font-size: 40px;
	position: relative;
	width: 100%;
	height: 6%;
	background: fuchsia;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b),
		color-stop(50%, #ffa73d), color-stop(74%, #ff7c00),
		color-stop(100%, #ff7f04));
}

#left_container {
	
}

#right_container {
	position: absolute;
width: 96.4%;
height: 95.3%;
display: inline-block;
left: 4%;
}

#video_analysis {
	
	position: relative;
	width: 98.5%;
	height: 99%;
	border: 1px solid blue;
	margin: 8px;
	background: white;
}

#poli_container {
	position: relative;
	width: 100%;
	height: 54%;
}

#tag_cloud {
	position: relative;
	width: 100%;
	height: 45%;
	background: white;
}

#myCanvas_modi,#myCanvas_rahul,#myCanvas_kejri {
	position: relative;
	width: 100%;
	height: 100%;
	font-stretch:narrower;
	
}

.poli {
	cursor: pointer;
	-webkit-border-radius: 5px;
	position: relative;
	width: 90.5%;
	height: 29.5%;
	margin: 5px;
	left: -1%;
	border: 1px solid #ccc;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b),
		color-stop(50%, #ffa73d), color-stop(74%, #ff7c00),
		color-stop(100%, #ff7f04));
	display: inline-block;
}

.details {
	position: absolute;
	display: inline-block;
	width: 60%;
	height: 85%;
	margin: 1%;
	-webkit-border-radius: 5px;
	top: 4px;
	left: 35%;
}

.img {
	position: absolute;
	width: 30%;
	height: 85%;
	margin: 1%;
	-webkit-border-radius: 5px;
	top: 4px;
	left: 5px;
	background: white;
}

.prof {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-border-radius: 5px;
}

.party {
	position: absolute;
	width: 30%;
	left: 36px;
	top: 50px;
	height: 50%;
	-webkit-border-radius: 5px;
}

#video_table {
	position: relative;
	width: 97%;
	height: 137%;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 5%;
	
}
#t_header{
	font-size: 30px;
	color: white;
	position: relative;
width: 99.8%;
height: 7%;
background:  -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d),
		color-stop(100%, #0e0e0e));
border: 1px solid #ccc;
}



.gauge_div {
	position: absolute;
	width: 97%;
	height: 73%;
	top: 11%
}

.like_video {
position: absolute;
width: 52%;
left: 25%;
top: 70%;
height: 14%;
}

.l_img {
	position: relative;
width: 20%;
height: 55%;
left: 10%;
cursor: pointer;
}

.d_img {
position: relative;
width: 20%;
height: 59%;
top: 25%;
left: 45%;
cursor: pointer;
}

