<!DOCTYPE html>
<html dir="ltr" lang="en-US" id="india60-loksabha">
<head>
<!-- Meta -->
<meta charset="utf-8">



<!-- CSS -->
<link rel="icon" href="/favicon.png" type="image/png" />
<link href="../css_th/style1.css" rel="stylesheet" />

<script src="http://www.google.com/jsapi"></script>
<script>
 google.load("jquery", "1.7.1");
 // var baseurl = 'http://india60.com/mps';
 </script>
<script src="../js_th/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="../js_th/mps.js" type="text/javascript"></script>
<script src="../js_th/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script src="http://code.highcharts.com/modules/data.js"></script>
<script src="http://code.highcharts.com/modules/drilldown.js"></script>

<script src="../js_th/tooltip.js" type="text/javascript"></script>
<link href="../css_th/tooltip1.css" rel="stylesheet" type="text/css" />


<script>
$(function () {
	
	
	$("#image1").hover(
            function(event) {
                    $(this).animate({
                          height : '115px',
                          width  : '115px'
                   }); 
                   $(this)
                   .css(
                                 {
                                        "-webkit-box-shadow" : " 0px 0px 12px rgba(0, 0, 0, 0.5)"
                                 });

            },
            function() {
                   $(this).stop(true, true);
                    $(this).animate({
                          height : '100px',
                          width  : '100px'
                   }); 
                   $(this)
                   .css(
                                 {
                                        "-webkit-box-shadow" : " 0px 0px 0px rgba(0, 0, 0, 0)"
                                 });

            });

	
	$("#image2").hover(
            function(event) {
                    $(this).animate({
                          height : '115px',
                          width  : '115px'
                   }); 
                   $(this)
                   .css(
                                 {
                                        "-webkit-box-shadow" : " 0px 0px 12px rgba(0, 0, 0, 0.5)"
                                 });

            },
            function() {
                   $(this).stop(true, true);
                    $(this).animate({
                          height : '100px',
                          width  : '100px'
                   }); 
                   $(this)
                   .css(
                                 {
                                        "-webkit-box-shadow" : " 0px 0px 0px rgba(0, 0, 0, 0)"
                                 });

            });

	
	$("#image3").hover(
            function(event) {
                    $(this).animate({
                          height : '115px',
                          width  : '115px'
                   }); 
                   $(this)
                   .css(
                                 {
                                        "-webkit-box-shadow" : " 0px 0px 12px rgba(0, 0, 0, 0.5)"
                                 });

            },
            function() {
                   $(this).stop(true, true);
                    $(this).animate({
                          height : '100px',
                          width  : '100px'
                   }); 
                   $(this)
                   .css(
                                 {
                                        "-webkit-box-shadow" : " 0px 0px 0px rgba(0, 0, 0, 0)"
                                 });

            });
	
	
	$("#image4").hover(
            function(event) {
                    $(this).animate({
                          height : '115px',
                          width  : '115px'
                   }); 
                   $(this)
                   .css(
                                 {
                                        "-webkit-box-shadow" : " 0px 0px 12px rgba(0, 0, 0, 0.5)"
                                 });

            },
            function() {
                   $(this).stop(true, true);
                    $(this).animate({
                          height : '100px',
                          width  : '100px'
                   }); 
                   $(this)
                   .css(
                                 {
                                        "-webkit-box-shadow" : " 0px 0px 0px rgba(0, 0, 0, 0)"
                                 });

            });

	
	
	
	$("#image5").hover(
            function(event) {
                    $(this).animate({
                          height : '115px',
                          width  : '115px'
                   }); 
                   $(this)
                   .css(
                                 {
                                        "-webkit-box-shadow" : " 0px 0px 12px rgba(0, 0, 0, 0.5)"
                                 });

            },
            function() {
                   $(this).stop(true, true);
                    $(this).animate({
                          height : '100px',
                          width  : '100px'
                   }); 
                   $(this)
                   .css(
                                 {
                                        "-webkit-box-shadow" : " 0px 0px 0px rgba(0, 0, 0, 0)"
                                 });

            });

	
	
	$("#image6").hover(
            function(event) {
                    $(this).animate({
                          height : '115px',
                          width  : '115px'
                   }); 
                   $(this)
                   .css(
                                 {
                                        "-webkit-box-shadow" : " 0px 0px 12px rgba(0, 0, 0, 0.5)"
                                 });

            },
            function() {
                   $(this).stop(true, true);
                    $(this).animate({
                          height : '100px',
                          width  : '100px'
                   }); 
                   $(this)
                   .css(
                                 {
                                        "-webkit-box-shadow" : " 0px 0px 0px rgba(0, 0, 0, 0)"
                                 });

            });


	
	
});



</script>


</head>

<body >
    
    
    <div id="content" class="clearfix">
        <div class="colfull">
            <div class="listtitle clearfix">
                <h1>Wealth Score: 3</h1>
                <h2>Total Wealth Value 54 Cores</h2>
            
            </div>
            
            <table class="fulltable" style="height: 200px;">
                <thead>
                    <tr>
                        <th colspan="3"></th>
                        <th class="colspacer"></th>
                        <th colspan="5" class="colcenter valblue">Assets</th>                        
                        <th class="colspacer"></th>
                        <th colspan="2" class="colcenter valorange">Liabilities</th>
                    </tr>
                    <tr>
                        <th style="width: 50px;"></th>
                        <th>Name</th>
                        <th class="colright"><a href="http://india60.com/mps/wealth?sort=ftotal">Wealth</th>
                        <th class="colspacer"></th>
                        <th class="colright valblue"><a href="http://india60.com/mps/wealth?sort=fcash">Cash</a></th>
                        <th title="Property" class="colright valblue"><a href="http://india60.com/mps/wealth?sort=fproperty">Prop</a></th>
                        <th title="Investment" class="colright valblue"><a href="http://india60.com/mps/wealth?sort=finvestment">Inv</a></th>
                        <th title="Jewellery" class="colright valblue"><a href="http://india60.com/mps/wealth?sort=fjewellery">Jwl</a></th>
                        <th class="colright valblue"><a href="http://india60.com/mps/wealth?sort=fother">Other</a></th>
                        <th class="colspacer"></th>
                        <th class="colright valorange"><a href="http://india60.com/mps/wealth?sort=floan">Loan</a></th>
                        <th class="colright valorange"><a href="http://india60.com/mps/wealth?sort=flother">Other</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td><img src='../images_th/modi_icon.png' width='48' height='48' alt='' onmouseover="tooltip.pop(this, '#sub4', {position:1,offsetX:-20, effect:'slide', sticky:true})"></td>
                    <th style='width:auto;'>
                                        <ul class='mpinfo'>
                                            <li class='name' style='font-size: 18px;'><span class='rowindex'></span>&nbsp;<a href='http://india60.com/mps/profile/nama-nageswara-rao'>Narendra <br>&nbspModi</a></li>
                                            <li class='constituency sp' style='clear:both; float:left;' title='constituency'>Ahmedabad, <a href='http://india60.com/mps/list.php?filter=state:Andhra+Pradesh'>Gujrat</a> | <a title='Bharatiya Janta Party' href='http://india60.com/mps/list.php?filter=party:TDP'>BJP</a></li>
                                        </ul>
                                 </th>
                                 <td data-title='Wealth' class='showBubble colright colhi  valplus'>1,740,998,133</td>
                                 <td class='colspacer'></td><td data-title='Cash' class='showBubble colright colsmall valblue'>16,028,000</td>
                                 <td data-title='Property' class='showBubble colright colsmall valblue'>324,641,855</td>
                                 <td data-title='Investment' class='showBubble colright colsmall valblue'>1,226,712,472</td>
                                 <td data-title='Jewellery' class='showBubble colright colsmall valblue'>3,078,690</td>
                                 <td data-title='Other' class='showBubble colright colsmall valblue'>170,537,116</td>
                                 <td class='colspacer'></td>
                                 <td data-title='Loan' class='showBubble colright colsmall valorange'>0</td>
                                 <td data-title='Other' class='showBubble colright colsmall valorange'>0</td>
                                 </tr>
                                 
                            </tbody>
            </table>
    </div>
    
      <div class="colfull" style="margin-top:50px"">
            <div class="listtitle clearfix"  >
                <h1>Crime Rank 10</h1>
                <h2> Number of Crimes 0</h2>
            
            </div>
            
            <table class="fulltable" style="height: 200px;">
                <thead>
                    <tr>
                        <th colspan="3"></th>
                        <th class="colspacer"></th>
                        <th colspan="5" class="colcenter valblue">Criminal Cases</th>                        
                        <th class="colspacer"></th>
                        <th colspan="2" class="colcenter valorange">Financial Fraud</th>
                    </tr>
                    <tr>
                        <th style="width: 50px;"></th>
                        <th>Name</th>
                        <th class="colright"><a href="http://india60.com/mps/wealth?sort=ftotal">Total<br>Cases</a></th>
                        <th class="colspacer"></th>
                        <th class="colright valblue"><a href="http://india60.com/mps/wealth?sort=fcash">Murder</a></th>
                        <th title="Theft" class="colright valblue"><a href="http://india60.com/mps/wealth?sort=fproperty">Theft</a></th>
                        <th title="Kidnapping" class="colright valblue"><a href="http://india60.com/mps/wealth?sort=finvestment">Kidnapping</a></th>
                        <th title="Robbery" class="colright valblue"><a href="http://india60.com/mps/wealth?sort=fjewellery">Robbery</a></th>
                        <th class="colright valblue"><a href="http://india60.com/mps/wealth?sort=fother">Riots</a></th>
                        <th class="colspacer"></th>
                        <th class="colright valorange"><a href="http://india60.com/mps/wealth?sort=floan">2G Scam</a></th>
                        <th class="colright valorange"><a href="http://india60.com/mps/wealth?sort=flother">Coal Block</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td ><img src='../images_th/modi_icon.png' width='48' height='48' alt='' onmouseover="tooltip.pop(this, '#sub5', {position:1,offsetX:-20,offsetY:120000, effect:'slide', sticky:true})"></td>
                    <th style='width:auto;'>
                                        <ul class='mpinfo'>
                                            <li class='name' style='font-size: 18px;'><span class='rowindex'></span>&nbsp;<a href='http://india60.com/mps/profile/nama-nageswara-rao'>Narendra <br>&nbspModi</a></li>
                                            <li class='constituency sp' style='clear:both; float:left;' title='constituency'>Ahmedabad, <a href='http://india60.com/mps/list.php?filter=state:Andhra+Pradesh'>Gujrat</a> | <a title='Bharatiya Janta Party' href='http://india60.com/mps/list.php?filter=party:TDP'>BJP</a></li>
                                        </ul>
                                 </th>
                                 <td data-title='Total Cases' class='showBubble colright colhi  valplus'>2<br>Cases</td>
                                 <td class='colspacer'></td><td data-title='Murder' class='showBubble colright colsmall valblue'>IPC_201</td>
                                 <td data-title='Theft' class='showBubble colright colsmall valblue'>IPC_202<br><br>IPC_201<br><br>IPC_277</td>
                                 <td data-title='Kidnapping' class='showBubble colright colsmall valblue'>IPC_218</td>
                                 <td data-title='Robbery' class='showBubble colright colsmall valblue'>IPC_205</td>
                                 <td data-title='Riots' class='showBubble colright colsmall valblue'>IPC_211</td>
                                 <td class='colspacer'></td>
                                 <td data-title='2G Scam' class='showBubble colright colsmall valorange'>NA</td>
                                 <td data-title='Coal Block' class='showBubble colright colsmall valorange'>NA</td>
                                 </tr>
                                 
                            </tbody>
            </table>
            
          </div>
          </div>
    
     <div style="display:none;">
    <div id="sub4">
    <h1 style="padding-bottom: 10px;margin-top: -15px;">Wealth Comparison Analysis</h1>
           <div class="column">
           <div id = "compare1" style = "float:left;height:150px;width:150px"> 
           		<img id = "image1" style ="height:100px;width:100px" alt="" src="../images_th/sonia_icon.png">
           		<h1>Rank 3</h1>
           		<h3>Wealth 80 cores</h3>
           
           </div>
           
           <div id = "compare2" style = "float:left;height:150px;width:150px"> 
           		<img id = "image2" style ="height:100px;width:100px" alt="" src="../images_th/rahul_icon.png">
           		<h1>Rank 3</h1>
           		<h3>Wealth 90 cores</h3>
           
           </div>
           
              <div id = "compare3" style = "float:left;height:150px;width:150px"> 
           		<img id = "image3" style ="height:100px;width:100px" alt="" src="../images_th/modi_icon.png">
           		<h1>Rank 10</h1>
           		<h3>Wealth 54 cores</h3>
           
           </div>
               
                
            </div>
         </div>    
  
       <div id="sub5">
    <h1 style="padding-bottom: 10px;margin-top: -15px;">Crime Comparison Analysis</h1>
           <div class="column">
           <div id = "compare1" style = "float:left;height:150px;width:150px"> 
           		<img id = "image4" style ="height:100px;width:100px" alt="" src="../images_th/sonia_icon.png">
           		<h1>Rank 3</h1>
           		<h1>Total Crime 3</h1>
           
           </div>
           
           <div id = "compare2" style = "float:left;height:150px;width:150px"> 
           		<img id = "image5" style ="height:100px;width:100px" alt="" src="../images_th/rahul_icon.png">
           		<h1>Rank 3</h1>
           		<h1>Total Crime 3</h1>
           
           </div>
           
              <div id = "compare3" style = "float:left;height:150px;width:150px"> 
           		<img id = "image6" style ="height:100px;width:100px" alt="" src="../images_th/modi_icon.png">
           		<h1>Rank 10</h1>
           		<h1>Total Crime 0</h1>
           
           </div>
               
                
            </div>
         </div>   
  
         
         </div>    
    
    <script type="text/javascript" charset="utf-8">
        initBubble();    
    </script>

</body>
</html>